#-------------------------------------------------------
# R / RStudio Specific
#-------------------------------------------------------
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

#-------------------------------------------------------
# VS Code / macOS
#-------------------------------------------------------
.DS_Store
.vscode/

#-------------------------------------------------------
# Quarto / Rendering
#-------------------------------------------------------
.quarto/
*.html
*.pdf
*.docx

#-------------------------------------------------------
# Personal Auth / API
#-------------------------------------------------------
.httr-oauth

#-------------------------------------------------------
# Development & Build
#-------------------------------------------------------
dev/
.Rcheck/
.Rbuildignore
*.tar.gz

#-------------------------------------------------------
# Temporary / Untracked Files
#-------------------------------------------------------
*.log
*.tmp
*.xlsx
*.csv
*.zip
